@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
	width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar col {
    margin: 0 20px;
    text-align: center;
}

.logo{
	width: 150px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 200px;
    height: 30px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.shopping-cart-icon img {
    width: 100px;
    height: 100px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    position: relative;
}

li ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 20px 0;
    width: 150px;
}

li:hover ul {
    display: block;
}

li ul li {
    display: block;
    padding: 5px 0px;
    margin: 0;
}

.options ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: black;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.options ul li:hover::after{
	width: 100%;
}



.sign-in-container {
    width: 350px;
    padding: 25px;
    margin: 50px auto;
    background-color: grey;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.container {
    width: 350px;
    padding: 25px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 5px;
}

.social-login-column {
	justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social-login-column img {
    width: 50px;
    height: 50px;
	padding: 20px;
}

.social-login-column p {
    margin-top: 10px;
}

.signin-container {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.alternative-signin {
    display: flex;
    justify-content: space-between;
	padding: 10px;
}

button {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6e6e6;
}

.google {
    color: black;
}

.row {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
	position: absolute;
    width: 100%;
}

.column {
    flex: 1;
    padding: 10px;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 59px;
}

.divid {
	height: 390px;
    width: 1px;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
}
